body
{
	min-width: 1200px;
	margin: 0;
	background-image: url("../img/space.jpg");
	font-family: helvetica;
}
#container
{
	margin: 0 auto;
	text-align: center;
	width: 30%;
	height: 230px;
	margin-top: 20px;
	padding-top: 45px;
	border-radius: 10px;
	background-color:  rgba(255, 255, 255, 0.5);
	border: 1px solid black;
}
input
{
	text-align: center;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.Id_unknown
{	
	width: 100%;
	margin-top: 20px;
	border-radius: 10px;
	border: 1px solid black;
	background-color: #FF8080;
}
button
{
	text-align:center;
  	padding-bottom: 5px;
   	margin-bottom: 5px;
}
header {
	background-color: rgba(255, 255, 255, 0.5);
	margin: 0px 0px 50px 0px;
	padding-left: 20px;
	border-bottom: solid 1px #000000;
	height: 45px;
}
header ul {
	display: inline-block;
	margin: 0;
	float: right;
	padding-right: 5px;
}

header ul li {
	display: inline-block;
}

header p {
	display: inline-block;
}

header a {
	text-decoration: none;
	font-family: Helvetica;
	font-size: 1em;
	color: black;
	display: inline-block;
	padding: 15px 15px 15px 0px;

}

header a:visited {
	color: black;
}